*{
	margin: 0;
	padding: 0;
}
/* font */
@font-face {
    font-family: poppins;
    src: url(/asset/font/Poppins-Regular.ttf);
}
/* end of font */

/* Navbar */
nav{
    font-family: poppins;
}

.navbar-nav a{
	color: rgb(115, 188, 234);
	
}

.nav-link {
	font-size: 18px;
	margin-left: 5px;
	margin-right: 5px;
}
/* end of navbar */

/* color */
.orange{
	background-color: rgb(246, 222, 127);
}

.blue{
	background-color: rgb(115, 188, 234);
}

/* content */

	/* Hero */
#hero{
	background-image: url(asset/image/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	position: relative;
}

.hero-title{
	padding-top: 250px;
	color: rgb(0, 0, 0);
	/* text bold */
}
.hero-title h1{
	position: absolute;
	width: 90vw;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
	z-index: 1;
}

.hero-text{
	font-size: calc(2rem + 3vw);
	font-weight: 600px;
}

.overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
	/* End Hero */

/* end of content */
