*{
	margin: 0;
	padding: 0;
}
/* font */
@font-face {
    font-family: poppins;
    src: url(/asset/font/Poppins-Regular.ttf);
}
/* end of font */

/* Navbar */
nav{
    font-family: poppins;
}

.navbar a{
	color: rgb(115, 188, 234);
	
}

.nav-link {
	font-size: 18px;
	margin-left: 5px;
	margin-right: 5px;
}
.navbar-custom {
    transition: background-color 0.5s 	;
}
.navbar-img-custom {
    transition: background-color 0.5s ease;
}

/* js before scroll */
.navbar-default {
    background-color: transparent;
}
.img-nav-default{
	height: 80px;
	width: 80px;
}

/* js after scroll */
.img-nav-scrolled{
	height: 50px;
	width: 50px;
}
.navbar-scrolled {
    background-color: rgb(48, 52, 54);
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: white;
  }
/* end of navbar */

/* color */
.orange{
	background-color: rgb(246, 222, 127);
}

.blue{
	background-color: rgb(115, 188, 234);
}

/* content */

	/* Hero */
#hero{
	background-image: url(asset/image/hero.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	position: relative;
}

.hero-title{
	padding-top: 250px;
	color: rgb(0, 0, 0);
	/* text bold */
}
.hero-title h1{
	position: absolute;
	width: 90vw;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
	z-index: 1;
}

.hero-text{
	font-size: calc(2rem + 3vw);
	font-weight: 600px;
}

.overlay{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
/* animasi hero */
.animasi-hero {
    opacity: 0;
    animation: animasiHero 3s forwards; /* 2s adalah durasi animasi, bisa disesuaikan */
}

@keyframes animasiHero {
    to {
        opacity: 1;
    }
}

/* End Hero */

/* About */
/* about animasi */
.animasi-muncul-kiri{
	transition: 1s ;
}
.animasi-muncul-kanan{
	transition: 1s ;
}
.sebelum-kiri{
	translate:-100% 0% ;
	opacity: 0;
}
.sesudah-kiri{
	translate:0% 0% ;
	opacity: 1;
}
.sebelum-kanan{
	translate:100% 0% ;
	opacity: 0;
}
.sesudah-kanan{
	translate:0% 0% ;
	opacity: 1;
}

/* end of content */
